<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail úlohy</title>
  </head>
  <body>
    <h1>Detail úlohy</h1>

    <div>
      <h2><%= todo.title %></h2>
      <p>Stav: <%= todo.done ? 'Dokončené' : 'Nedokončené' %></p>
      <p>Priorita: <span><%= todo.priority %></span></p>

      <div>
        <a href="/todos/<%= todo.id %>/toggle"
          ><%= todo.done ? 'Označiť ako nedokončené' : 'Označiť ako dokončené'
          %></a
        >
        |
        <a href="/todos/<%= todo.id %>/remove">Odstrániť</a>
        |
        <a href="/">Späť na zoznam</a>
      </div>

      <div style="margin-top: 20px">
        <h3>Upraviť úlohu</h3>
        <form method="post" action="/todos/<%= todo.id %>/update">
          <div>
            <label for="title">Názov:</label>
            <input name="title" id="title" required value="<%= todo.title %>" />
          </div>
          <div style="margin-top: 10px;">
            <label for="priority">Priorita:</label>
            <select name="priority" id="priority">
              <option value="<%= priorities.LOW %>" <%= todo.priority === priorities.LOW ? 'selected' : '' %>>Nízka</option>
              <option value="<%= priorities.NORMAL %>" <%= todo.priority === priorities.NORMAL ? 'selected' : '' %>>Normálna</option>
              <option value="<%= priorities.HIGH %>" <%= todo.priority === priorities.HIGH ? 'selected' : '' %>>Vysoká</option>
            </select>
          </div>
          <div style="margin-top: 10px;">
            <button type="submit">Uložiť zmeny</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>